body {
  display: flex;
  flex-wrap: wrap;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.sidebar {
  margin-left: 5px;
  margin-right: 5px;
  max-width: 30vw;
  width: 300px;
  position: relative;
}

.sidebar-content {
  display: flex;
  position: fixed;
  padding-top: 160px;
  top: 0;
  z-index: 0;
  height: 100vh;
  max-width: 30vw;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  overflow: scroll;
}

.name {
  border-bottom: #ffff00 solid 1px;
}

.sidebar-self-img {
  background-color: #fff;
  box-shadow: 0px 0px 3px #555;
}

@media screen and (max-width: 760px) {
  .sidebar {
    display: none;
  }
  main {
    width: 100vw;
  }
}
